includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 8

    excludes_analyse:
            - ./app/Exceptions/Handler.php
            - ./app/Http/Middleware/Authenticate.php

    checkMissingIterableValueType: false
